<html>
  <body>
    <head>
      <title>Crime Map</title>
    </head>

     <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}" /> 

  <script type="text/javascript"
    src="{{url_for('static', filename='maps.js') }}" >
  </script> 

<!--   <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js">
  </script>  -->
<script type="text/javascript">
var map;
var marker;
var existing_crimes;

function initalize() {
      var mapOptions = {
        center: new google.maps.LatLng(-33.30578381949298, 26.523442268371582),
        zoom: 15
      };
      
}

</script>

    <h1>Crime Map</h1>
    <form action="/add" method="POST">
      <input type="text" name="userinput">
      <input type="submit" value="Submit">
    </form>
    <a href="/clear">clear</a>
  
    
  </body>
</html>