<!DOCTYPE html>
<html>
  <head>
    <title>航空大数据可视化</title>
    <!-- <script type="text/javascript" src="http://d3js.org/d3.v5.min.js"></script> -->
    <meta name="description" content="placelist">
    <meta name="content-type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel='stylesheet' href='/static/bootstrap-4.5.2-dist/css/bootstrap.min.css'>
    <script type="text/javascript" src="/static/d3/d3.js"></script>
<script src="/static/jquery-3.5.1.min.js"></script>
<script src="/static/bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/static/JavaScript_ECharts/echarts.js"></script>
<script type="text/javascript" src="/static/JavaScript_ECharts/echarts-gl.js"></script>
<script src="/static/realtime.js"></script>
<script src="/static/data/day_delay.js"></script>

<script type="text/javascript" src="/static/JavaScript_ECharts/echarts.js"></script>
<script type="text/javascript" src="/static/JavaScript_ECharts/echarts-gl.js"></script>
<script type="text/javascript" src="/static/toCSV.js"></script>

<script type="text/javascript" src="/static/data/airlines.js"></script>
<script type="text/javascript" src="/static/data/airports.js"></script>
<script type="text/javascript" src="/static/data/planes.js"></script>
<script type="text/javascript" src="/static/data/routes.js"></script>
<script type="text/javascript" src="/static/airports_and_airlines.js"></script>

 <link rel="stylesheet" href="/static/game-frame-styles.css" />
<style type="text/css">

img {
width: 200px;
height: 100px;
}

h1 { font-size: 12pt; }

</style>
  </head>

 
<body id="level1">
  <br/>
  <div class="text-center" style="font-size: 32px;"> 航空大数据可视化系统 </div>
      <div>



    <div style="text-align: center; line-height: 3em">
        <span style="font-weight:bold;">
            The combination of the number of airlines, some countrys (or territory ) and activation <br> <br>
        </span>
    </div>

    <div id="main3" style="width: 1000px; height: 600px;margin-right: auto; margin-left: auto;">
        <!-- 经纬度加海拔 -->
        <script>
            var company = JSON.parse(airlines);
            var country_airline_num = [];
            var country_names = []
            var y_num = [];
            var n_num = [];

            for(i = 0 ; i < company.length; i++){
                if( company[i]["Country"] == null || company[i]["Country"]==""){
                    continue;
                }
                if(country_airline_num[company[i]["Country"]] == null){
                    country_airline_num[company[i]["Country"]] = {'Y':0, 'N':0};
                }
                if(company[i]["Active"] == 'Y') {
                    country_airline_num[company[i]["Country"]]['Y'] += 1;
                } else {
                    country_airline_num[company[i]["Country"]]['N'] += 1;
                }
                country_names.push(company[i]["Country"]);
            }

            for(i = country_names.length - 1; i >= 0 ; i--){
                for(j = 0; j < i; j++){
                    if(country_names[j] > country_names[j+1]){
                        var temp = country_names[j];
                        country_names[j] = country_names[j+1];
                        country_names[j+1] = temp;
                    }
                }
            }
            console.log(country_airline_num);
            country_names = ["Argentina", "Australia","Brazil", "Canada", "China","Egypt", "France", "Germany" , "Greece", "Italy", "Japan","Mexico", "New Zealand", "Russia", "South Africa", "Spain","United Kingdom","United States"]

            for(i = 0; i < country_names.length; i++){
                y_num.push(country_airline_num[country_names[i]]['Y']);
                n_num.push(-country_airline_num[country_names[i]]['N']);
            }
            var countryAndNum = [country_names, y_num, n_num] 

            Airline_Country_Active(countryAndNum)
        </script>

    </div>


        <div style="text-align: center; line-height: 3em">
        <span style="font-weight:bold;">
            The combination of the airports' Longitude, Aatitude and Altitude<br> <br>
        </span>
    </div>
    
    <div id="main1" style="width: 1000px; height: 600px;margin-right: auto; margin-left: auto;">
        <!-- 经纬度加海拔 -->
        <script>
            var ports = JSON.parse(airports);
            var axis = [];
            var AltitudeColor = [];

            var colo = ['3','4','5','6','7','8','9','a','b','c','d','e'];
            for(i = 0; i < 12; i++){
                for(j = 0; j < 12; j++){
                    for(k = 0; k < 12; k++){
                        AltitudeColor.push("#"+colo[i]+colo[j]+colo[k]);
                    }
                }
            }

            for(i = 0; i < ports.length; i++){
                axis.push([ports[i].Longitude, ports[i].Latitude, ports[i].Altitude*0.3048]);
            }
            Longitude_Aatitude_Altitude(axis,AltitudeColor)
        </script>
    </div>

  </div>


  </body>
</html>