<!DOCTYPE html>
<html>
  <head>
    <title>航空大数据可视化</title>
    <!-- <script type="text/javascript" src="http://d3js.org/d3.v5.min.js"></script> -->
    <meta name="description" content="placelist">
    <meta name="content-type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel='stylesheet' href='/static/bootstrap-4.5.2-dist/css/bootstrap.min.css'>
    <script type="text/javascript" src="/static/d3/d3.js"></script>
<script src="/static/jquery-3.5.1.min.js"></script>
<script src="/static/bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/static/JavaScript_ECharts/echarts.js"></script>
<script type="text/javascript" src="/static/JavaScript_ECharts/echarts-gl.js"></script>
<script src="/static/realtime.js"></script>
<script src="/static/data/day_delay.js"></script>
    <script type="text/javascript" src="/static/JavaScript_ECharts/vintage.js"></script>
 <link rel="stylesheet" href="/static/game-frame-styles.css" />
<style type="text/css">

img {
width: 200px;
height: 100px;
}

h1 { font-size: 12pt; }

</style>
  </head>

 
<body id="level1">
  <br/>
  <div class="text-center" style="font-size: 32px;"> 航空大数据可视化系统 </div>
      <div>

<div style="text-align: center; line-height: 3em">
    <span style="font-weight:bold;">
        <br> <br>2020年航空公司航班延误情况
    </span>
</div>
<div id="main2" style="width: 1000px; height: 600px;margin-right: auto; margin-left: auto;">
    <script>
        data = JSON.parse(day_delay);
        d_delay (data);
    </script>
</div>

  </div>


  </body>
</html>