<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <div>
        {% for entry in entries %}
        <div>
            <h2>{{ entry.name }}</h2>
            <div>
                <div>
                    <div>Genre:
                        <b>{{ entry.genre }}</b>
                    </div>
                </div>
                <div>
                    <div>Rating:
                        <b>{{ entry.rating }}</b>
                    </div>
                </div>
                <div>
                    <div>
                        <audio controls id="{{ entry.id }}">
                            <source src="http://localhost:5000/{{ entry.id }}" type="audio/mp3">
                        </audio>
                    </div>
                </div>
            </div>
    <button onclick="play()" type="button">playbutton</button>
<button onclick="stop()" type="button">stopbutton</button>

        </div>
        {% else %}
        <li>
            <em>Unbelievable. No entries so far</em>
            {% endfor %}
    </div>
</body>
<script>
var myaudio = document.getElementById("1").autoplay = true;

var myaudio = document.getElementById("1");

function play() { 
return myaudio.play(); 
};

function stop() {
return myaudio.pause(); 
};
</script>
</html>