<h1>Update Profile</h1>
<!-- HTML表单 -->
<form action="/profiles/update/{{user.id}}" method="POST">
    <label>name：</label>
    <input type="text" name="nickname" value="{{user.nickname}}">
    <br><br>
    <label>password：</label>
    <input type="text" name="password" value="{{user.password}}">
    <br><br>
    <label>school_class:</label>
    <input type="text" name="school_class" value="{{user.school_class}}">
    <br><br>
    <label>school_grade:</label>
    <input type="text" name="school_grade" value="{{user.school_grade}}">
    <br><br>
    <input type="submit" value="提交">
</form>