<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
     <link rel='stylesheet' href='/static/bootstrap-4.5.2-dist/css/bootstrap.min.css'>

     <script src="/static/jquery-3.5.1.min.js"></script>
     <script src="/static/bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>
     
     <link type="text/css" rel="stylesheet" href="/static/jquery.dropdown.css" />
	<script type="text/javascript" src="/static/jquery.dropdown.js"></script>

</head>

<body>
	<div>
	<br/>
机器学习预测钢铁价格
<img src="/static/images/app_data/price.png"/>
<img src="/static/images/app_data/price_predict.png"/>


	</div>


	</div>

<script type="text/javascript">

</script>

</body>

</html>